<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="demo-webpack">
      <file>./test/php/DbControllerTest.php</file>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory>./dist/php</directory>
      <file>DbController.php</file>
    </whitelist>
  </filter>
</phpunit>