<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="email">
      <file>test/php/DbControllerTest.php</file>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory>./dist/php</directory>
      <file>DbController.php</file>
    </whitelist>
  </filter>
</phpunit>